[package]
name = "bigweaver-agent-canary-zeta-hydro-deps"
publish = false
version = "0.0.0"
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/hydro-project/hydro"

[workspace]
members = ["benches"]

[workspace.package]
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/hydro-project/hydro"
