[workspace]
resolver = "2"
members = ["benches"]

[workspace.package]
edition = "2021"
license = "Apache-2.0"
repository = "https://zeta.us-east-1.modeled-gateway.integrations.bigweaver.aws.dev/BigWeaverServiceCanaryZetaIad/bigweaver-agent-canary-zeta-hydro-deps"

[workspace.lints.rust]
unsafe_code = "warn"
missing_docs = "warn"
missing_debug_implementations = "warn"

[workspace.lints.clippy]
todo = "warn"
