[workspace]

members = [
    "timely_benchmarks",
    "differential_dataflow_benchmarks",
]

resolver = "2"

[workspace.package]
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/hydro-project/hydro"

[workspace.dependencies]
timely = "0.12"
differential-dataflow = "0.12"
