[workspace]

members = [
    "benches",
]

resolver = "2"

[profile.release]
strip = true
opt-level = 3
lto = "fat"
codegen-units = 1

[profile.profile]
inherits = "release"
debug = 2
lto = "off"
strip = "none"
