[workspace]

members = [
    "benches",
]

resolver = "2"

[workspace.package]
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/hydro-project/hydro-deps"

[profile.release]
strip = true
opt-level = 3
lto = "fat"
codegen-units = 1

[profile.dev.package.benches]
debug-assertions = false
