[workspace]

members = [
    "benchmarks",
]

resolver = "2"

[workspace.package]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/hydro-project/hydro"

[profile.release]
strip = true
opt-level = 3
lto = "fat"
codegen-units = 1

[profile.bench]
inherits = "release"
