[workspace]
members = [
    "benches",
]

resolver = "2"

[workspace.package]
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://hydro.run/"
repository = "https://github.com/hydro-project/hydroflow"
