[workspace]
members = ["benches"]
resolver = "2"

[workspace.package]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/BigWeaverServiceCanaryZetaIad/bigweaver-agent-canary-zeta-hydro-deps"

[profile.release]
strip = true
opt-level = 3
lto = "fat"
codegen-units = 1

[profile.profile]
inherits = "release"
debug = 2
lto = "off"
strip = "none"
