[workspace]
members = ["benches"]
resolver = "2"

[workspace.package]
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/BigWeaverServiceCanaryZetaIad/bigweaver-agent-canary-zeta-hydro-deps"

[workspace.lints.rust]
missing_docs = "warn"
missing_debug_implementations = "warn"
unreachable_pub = "warn"

[workspace.lints.clippy]
allow_attributes = "warn"
cargo = { level = "warn", priority = -1 }
multiple_crate_versions = "allow"
too_many_arguments = "allow"
type_complexity = "allow"
