[workspace]

members = [
    "benches",
]

resolver = "2"

[workspace.package]
edition = "2024"
license = "Apache-2.0"

[profile.release]
strip = true      # Strip symbols from the binary
opt-level = 3
lto = "fat"
codegen-units = 1
