[package]
name = "timely-differential-benches"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]

[dev-dependencies]
babyflow = { path = "../babyflow" }
criterion = { version = "0.3", features = ["async_tokio"] }
differential-dataflow = "0.12"
hydroflow = "0.5"
lazy_static = "1.4.0"
rand = "0.8.4"
seq-macro = "0.2"
spinachflow = { path = "../spinachflow" }
timely = "0.12"
tokio = { version = "1.0", features = ["rt-multi-thread"] }

[[bench]]
name = "arithmetic"
harness = false

[[bench]]
name = "fan_in"
harness = false

[[bench]]
name = "fan_out"
harness = false

[[bench]]
name = "fork_join"
harness = false

[[bench]]
name = "identity"
harness = false

[[bench]]
name = "join"
harness = false

[[bench]]
name = "reachability"
harness = false

[[bench]]
name = "upcase"
harness = false

[[bench]]
name = "zip"
harness = false
