[package]
name = "timely-differential-benches"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }
timely = "0.12"
differential-dataflow = "0.12"
lazy_static = "1.4.0"

[[bench]]
name = "arithmetic"
harness = false

[[bench]]
name = "fan_in"
harness = false

[[bench]]
name = "fan_out"
harness = false

[[bench]]
name = "fork_join"
harness = false

[[bench]]
name = "identity"
harness = false

[[bench]]
name = "join"
harness = false

[[bench]]
name = "reachability"
harness = false

[[bench]]
name = "upcase"
harness = false

[[bench]]
name = "zip"
harness = false
