[package]
name = "benches"
publish = false
version = "0.0.0"
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[dev-dependencies]
criterion = { workspace = true }
dfir_rs = { workspace = true }
differential-dataflow = { workspace = true }
futures = { workspace = true }
nameof = { workspace = true }
rand = { workspace = true }
rand_distr = { workspace = true }
seq-macro = { workspace = true }
sinktools = { workspace = true }
static_assertions = { workspace = true }
timely = { workspace = true }
tokio = { workspace = true, features = [ "rt-multi-thread" ] }

[[bench]]
name = "arithmetic"
harness = false

[[bench]]
name = "fan_in"
harness = false

[[bench]]
name = "fan_out"
harness = false

[[bench]]
name = "fork_join"
harness = false

[[bench]]
name = "identity"
harness = false

[[bench]]
name = "upcase"
harness = false

[[bench]]
name = "join"
harness = false

[[bench]]
name = "reachability"
harness = false

[[bench]]
name = "micro_ops"
harness = false

[[bench]]
name = "symmetric_hash_join"
harness = false

[[bench]]
name = "words_diamond"
harness = false

[[bench]]
name = "futures"
harness = false
